@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.main-content{
    display: flex;
    margin-left: 10%;
    margin-right: auto;
    margin-top: 1%;
    font-family: 'Roboto Condensed', sans-serif;
}

.form-content{
    margin-left: -4%;
}

form{
    border: 1px solid rgb(192, 191, 191);
    border-radius: 7px;
    padding: 0px 30px;
    text-align: center;
    margin-top: 13%;
}

.main-img{
    width: 600px;
    height: 600px;
}

.form-input{
    padding: 5px;
    margin-top: 6px;
    width: 250px;
    height: 30px;
    border: 1px solid rgb(192, 191, 191);
    border-radius: 5px;
    text-align: left;
    color: gray;
    font-size: 12px;
}

a{
    text-decoration: none;
}

h1{
    font-size: 60px;
    font-family: 'Cookie', cursive;
    color: rgb(39, 39, 39);

}

.linked-all{
    display:flex;
    padding-left: 45px;
    color: #3b5998;
}

.small-icon{
    height: 23px;
    width: auto;
    padding-top: 13px;
}

#Login-btn{
    text-align: center;
    padding: 5px;
    margin-top: 6px;
    width: 250px;
    height: 30px;
    background-color: #50ccfd;
    border: 1px none;
    border-radius: 7px;
    color: white;
    font-size: 17px;
}

#signup-link{
    color: #05b4fa;
}

#linked-text{
    border: 1px solid rgb(192, 191, 191);
    border-radius: 7px;
    padding: 20px 30px;
    margin-top: 3%;
    text-align: center;
}

#forgot-link{
    color: blue;
    font-size: 13px;
}

.appget-link{
    text-align: center;
}

#or-p{
    color: gray;
}

.footer-linker{
    display: flex;
    font-size: 13px;
    margin-left: 17%;
    margin-right: auto;
    margin-top: 1%;
    color: gray;
}

.footer-link{
    padding-left: 23px;
}
.footer-2{
    display: flex;
    margin-left: 40%;
    margin-right: auto;
    margin-bottom: 5%;
    font-size: 13px;
    color: gray;
}

.footer-text{
    padding-left: 17px;
}


